<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/public/css/style.css">
    </head>

    <body>
        <div class="container">
            <center>
                <img src="https://i.ibb.co/StTpCQ4/kitty.png" width="200"></a>
            <h2>
              Welcome to Cat Facts!
            </h2>
            
            <section>
                <p id="cat-fact">Click below to view a random fact about cats.</p>
                <button type="button" id="show-fact">I'm ready for a cat fact!</button>
            </section>
            </center>

            <script src="/public/js/fact.js"></script> 
        </div>
    </body>

</html>